.tabla_SIS {
	font-size: 12px !important;	
}

.margin0{

	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

}

.card {
	-webkit-box-shadow: 6px 28px 45px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 28px 45px -10px rgba(0,0,0,0.75);
	box-shadow: 6px 28px 45px -10px rgba(0,0,0,0.75);
	
		
}

.sombra {
	background-color: white;
-webkit-box-shadow: 0px -28px 35px -21px rgba(138,138,138,0.61);
-moz-box-shadow: 0px -28px 35px -21px rgba(138,138,138,0.61);
box-shadow: 0px -28px 35px -21px rgba(138,138,138,0.61);

-webkit-border-radius: 35px 35px 0px 0px ;
	-moz-border-radius: 35px 35px 0px 0px;
	border-radius: 35px 35px 0px 0px;


}

.brillo_blanco
{
z-index: 1020 !important;	
-webkit-box-shadow: -8px 5px 13px 1px rgba(255,255,255,1);
-moz-box-shadow: -8px 5px 13px 1px rgba(255,255,255,1);
box-shadow: -8px 5px 13px 1px rgba(255,255,255,1);

	
}

.menu_lateral{
	overflow-y: auto;
	max-height: 85vh;
	z-index: 100;
}
.boton-despliegue{
	display: none;
	right: 0;
	border-radius: 0;
	z-index: 100;
	position: absolute;
	top: 0;
}

.loader2 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modalb {
	z-index: 1101 !important;
}

.modalb-backdrop {
	z-index: 1100 !important;
}

#menu_principal {
	z-index: 1100 !important;
}

#pantalla_carga {
  display: none;
  position: fixed;
  width:100vw;
  height:100vh;
  top: 0;
  left: 0;
  background-color: rgba(162, 171, 173,  0.45) ;
  z-index: 2000;
}

#pantalla_carga .progress {
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50vw;
	margin: auto;
    height: 25px;
    font-size: 20px;
}

@media (max-width: 1199.98px) {
  #pantalla_carga .progress {
	width: 60vw;
  }
}

@media (max-width: 991.98px) {
  #pantalla_carga .progress {
	width: 70vw;
  }
}

@media (max-width: 767.98px) {
  #pantalla_carga .progress {
	width: 80vw;
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
  
  .menu_lateral{
	left: -90%;
	position: fixed !important;
	width: 90%;
	height: 60vh;
  }
  
  .boton-despliegue{
	display: block;
  }
  
  #pantalla_carga .progress {
	width: 90vw;
  }
}

.table-hover tbody tr:hover {
    background-color: rgba(212, 193, 156, 1) !important;
}

.hover_blanco:hover
{    
	color: #ffffff !important;
}

.text-centro{
text-align: center !important;
vertical-align: middle !important;
}

.acotacion{
    white-space: normal;
    
}

.small-link {
    font-size: 0.85em;
    text-decoration: underline !important;
    color: #1122cc !important;
}

.small-link a:hover {
    color: #393b3c !important;
    text-decoration: none !important;
}

.link-sponsored {
    font-size: 18px;
    color: #1122cc !important;
    text-decoration: underline !important;

}

.link-sponsored:hover {
    color: #1b5dab !important;
    text-decoration: none !important;
}

.link-footer {
    color: #2c2c2b;
    font-size: 14px;
    text-decoration: underline;
}

.link-footer:hover{
       text-decoration: none;
}

.link-titulo {
    font-weight: 500;
    color: #1122cc !important;
    text-decoration: underline;
}

.link-titulo:hover {
    font-weight: 500;
    color: #1b5dab !important;
    text-decoration: none !important;
}

.sub-navbar {
    background: #f6f6f6;

}

.navbar-custom {
    background: #f6f6f6;

}
.tophead{
  margin-top: 105px;
}

.topheadCubos{
  margin-top: 65px;
}

.color_grayBack {

  background-color: #2E2E2E;
}

.bg_black {

  background-color: #000000;
}


.color_grayB {

  background-color: #000000;
}

.color_dorado {

  background-color: #B38E5D;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Montserrat, 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 18px;
  color: #2c2c2b;
}

footer {
font-size: 14px;
}


h1, h2, h3, b {
    font-weight: 600;
}

.h1, h1 {
    font-size: 54px;
    
}

#contenedor{
	flex: 1 0 auto;
}

/* botones principales index */
.tamanio {
            transition: transform .5s;
              -o-transition: transform .5s;
              -ms-transition: transform .5s;
              -moz-transition: transform .5s;
              -webkit-transition: transform .5s;
              opacity: 1;
              transition:.5s;
              -o-transition:.5s;
              -ms-transition:.5s;
              -moz-transition:.5s;
              -webkit-transition:.5s;
}

.tamanio:hover {
  opacity: 1; 
  transform:  translateY(-20px);
  
  -o-transform:  translateY(-20px);
  -ms-transform:  translateY(-20px);
  -moz-transform:  translateY(-20px);
  -webkit-transform: translateY(-20px);
  
}

.tamanio.tabs {
            transition: transform .5s;
              -o-transition: transform .5s;
              -ms-transition: transform .5s;
              -moz-transition: transform .5s;
              -webkit-transition: transform .5s;
             
                           
}

.tamanio.tabs:hover {
 
  transform:  translateY(-10px) scale(1,1.1); 
  -o-transform:  translateY(-10px) scale(1,1.1);
  -ms-transform:  translateY(-10px) scale(1,1.1);
  -moz-transform:  translateY(-10px) scale(1,1.1);
  -webkit-transform: translateY(-10px) scale(1,1.1);
  
}

/* botones principales curso */
a.curso { opacity: 1;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
                       }
a.curso:link  {text-decoration: none; color: #848484;}
a.curso:visited {text-decoration: none; color: #848484;}
a.curso:hover {  opacity: 0.5;
                  
}

/* botones gobi */
a.gris {color:#848484;}
a.gris:link  {text-decoration: none; color: #848484;}
a.gris:visited {text-decoration: none; color: #848484;}
a.gris:hover { color: #9D2449;}

/* botones contenido */
a.contenido {color: #6F7271;}
a.contenido:link  {text-decoration: none; color: #848484;}
a.contenido:visited {text-decoration: none; color: #848484;}
a.contenido:hover { color: #9D2449;}

/* botones peis */
a.btn_peis {color:#084B8A;}
a.btn_peis:link  {text-decoration: none; color: #828282;}
a.btn_peis:visited {text-decoration: none; color: #848484;}
a.btn_peis:hover { color: #9D2449 !important; cursor: pointer; background-color: transparent !important;}
a.btn_peis.active:hover { color: white !important; cursor: pointer; background-color: #9D2449 !important;}

/* botones desktop */
a.btn_desktop {color:#084B8A;}
a.btn_desktop:link  {text-decoration: none; color: #828282;}
a.btn_desktop:visited {text-decoration: none; color: #848484;}
a.btn_desktop:hover { color: white !important; background-color:#B38E5D; cursor: pointer;}

.list-group-item.active:hover { color: white !important; background-color:#B38E5D !important; cursor: pointer;}

.list-group-item.active {
    z-index: 2 !important;
    color: black !important;
    background-color:  #D4C19C !important;
    border: none !important;
}

a.btn_desktop {color:#BC955C;}
a.btn_desktop:link  {text-decoration: none; color: #BC955C;}
a.btn_desktop:visited {text-decoration: none; color: #BC955C;}
a.btn_desktop:hover { color: white !important; background-color:#BC955C; cursor: pointer;}

.menupeis_fondo {
	background-color: #ffffff;
	}


/* botones pills */
.nav-pills>a {color: #9D2449;}
.nav-pills>a:hover {
	color: white; 
	background-color: #9D2449;
}
.nav-pills>.active {color: white; background-color: #9D2449;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #9D2449;
}

.nav-pills>li>a {color: #9D2449;}
.nav-pills>li>a:hover {
	color: white; 
	background-color: #9D2449;
}


/* botones mesa de ayuda Gobi */
a.ayuda {color:#848484;}
a.ayuda:link  {text-decoration: none; color: #848484;}
a.ayuda:visited {text-decoration: none; color: #848484;}
a.ayuda:hover { color: white; background-color: #17a2b8;}



a.gobitablas {color: #621132;}
a.gobitablas:link  {text-decoration: none; color: #621132;}
a.gobitablas:visited {text-decoration: none; color: #621132;}
a.gobitablas:hover { color: #ffffff; background-color: #621132;}

/* botones subtablas Gobi */
a.gobitablas-sub {color: #000;}
a.gobitablas-sub:link  {text-decoration: none; color: #000;}
a.gobitablas-sub:visited {text-decoration: none; color: #000;}
a.gobitablas-sub:hover { color: #ffffff; background-color: #a57f2c;}


/* botones contenido interno secciones */

.nav-tabs .nav-item {
    margin-bottom: 0px !important;
}


.nav-tabs a {
	
	color: #9D2249 !important;
	
	border: 0px !important;  
	background-color: white !important;
	border-radius: 15px 15px 0px 0px !important;

	-webkit-box-shadow: 0px -9px 17px -9px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px -9px 17px -9px rgba(0,0,0,0.75) !important;
	box-shadow: 0px -9px 17px -9px rgba(0,0,0,0.75) !important;
	
	}
	
.nav-tabs a:hover {
  opacity: 1 !important;
                     -o-transition:.5s !important;
                      -ms-transition:.5s !important;
                      -moz-transition:.5s !important;
                      -webkit-transition:.5s !important;
  color: white !important; background-color: #621132 !important;}
  


.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    color: #fff !important;
    background-color: #4E232E !important;
}








/* botones contenido p7420 */
.btn-p7420 {color: white; background-color: #9D2249;}
.btn-p7420:hover {
  opacity: 1;
                     -o-transition:.5s;
                      -ms-transition:.5s;
                      -moz-transition:.5s;
                      -webkit-transition:.5s;
  color: white; background-color: #621132;}
.btn-p7420>.active {background-color: #621132;
}

/* botones contenido p7420 */
.btn-p465 {color: white; background-color: #B38E5D;}
.btn-p465:hover {
  opacity: 1;
                     -o-transition:.5s;
                      -ms-transition:.5s;
                      -moz-transition:.5s;
                      -webkit-transition:.5s;
  color: white; background-color: #D4C19C;}
.btn-p465>.active {background-color: #D4C19C;
}

/* botones contenido p626 */
.btn-p626 {
	color: white;
	background-color: #285C4D;
}
.btn-p626:hover {
	opacity: 1;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	color: white;
	background-color: #13322B;
 }
.btn-p626>.active {
	background-color: #13322B;
}

/* botones contenido interno secciones */

.bg-grisclaro {
  background-color: #E6E6E6;
}

.bg-   {
  background-color: #084B8A;
}

.oculta {
  display: none;
}


.tophead2{
  margin-top: 70px;
 
}

.vertical{
    vertical-align:middle;
}

.color_grayBack {

  background-color: #2E2E2E;
}

.color_grayB {

	background-color: #000000;
}

body {
font-family: Montserrat, 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.color_grayC {

  background-color: #eaeaea;
}

.color_grayS {

  background-color: #f6f6f6 ;
}

.color-blanco {

  color: #ffffff;
}

.boton-blank {
  background: #eaeaea;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.boton-blank:hover {
  background-color: #f6f6f6;
  cursor: pointer;

}


.btn-gobMX {
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.btn-gobMX:hover {
  cursor: pointer;
  color: #d4c19c !important;
  text-decoration: none !important;
  
}

.navbar-toggler {
  color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-item{
    color: black;
}
.dropdown-menu a:hover {
  background-color: #9D2449;
  color: white !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    background-color: #000000;
    word-wrap: break-word;

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
    word-wrap: break-word;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #000000;
}

.dropdown-submenu.pull-left>.drop-left {
    float: none;
    width: 0;
    word-wrap: break-word;

}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-right: -10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    word-wrap: break-word;
}

/*boton up*/
.boton-subir{
  display: none;
  background: #285C4D;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 100;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  padding: 5px 5px 5px 5px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* color */

.naranja { color: #FF8000;}
.bg-naranja { background-color: #FF8000;}


/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.breadcrumb {
  background-color: white;
}

.word-wrap {
    word-wrap: break-word;
}

.azulrey {
    
    color: #08088A;    
}


.carousel-indicators-tablero {
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    
}

.carousel-indicators-tablero li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #B38E5D;
    margin: 10px;
    cursor: pointer;
  
}

.carousel-indicators-tablero li.active {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #9D2449;
  
}
.carousel-indicators-tablero li:hover {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #13322B;

}





/* numbers */

.numbers{

  width: 25px;
  height: 25px;
}

.azulobscuro{

  background-color: #002080;

}

.fondo-portada{
  background-image: 'entrenamiento/instalacion_offline/fondo_portada.png';

}


/* botones cursos */
a.cursos {color: white; background-color: blue; width: 100%; }
a.cursos:link  {text-decoration: none; color: #848484;}
a.cursos:visited {text-decoration: none; color: #848484;}
a.cursos:hover { color: #DF0101;}



.bd-example{
  position: relative;
}


.scrollspy-example{
  position: relative;
  height: 600px;
  margin-top: .5rem;
  overflow: auto;
}

.color_vino {

  background-color: #9D2449;
}



.btn-gold {
  color: #fff;
  background-color: #B38E5D;
  border-color: #B38E5D;
}

.btn-gold:hover {
  color: #fff;
  background-color: #D4C19C;
  border-color: #B38E5D;
}

.btn-gold:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(212, 193, 156, 0.5);
}

.btn-gold.disabled, .btn-gold:disabled {
  color: #fff;
  background-color: #B38E5D;
  border-color: #B38E5D;
}

.btn-gold:not(:disabled):not(.disabled):active, .btn-gold:not(:disabled):not(.disabled).active,
.show > .btn-gold.dropdown-toggle {
  color: #fff;
  background-color: #B38E5D;
  border-color: #D4C19C;
}

.btn-gold:not(:disabled):not(.disabled):active:focus, .btn-gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(212, 193, 156, 0.5);
}

.item {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 25px;
  
  
}

.item-1 {
  background-color: #B38E5D;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 3.1s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-2 {
  background-color: #13322B;
  top: 0;
  right: 0;
  animation: item-2_move 3.1s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-3 {
  background-color: #D4C19C;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 3.1s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-4 {
  background-color: #9D2449;
  bottom: 0;
  left: 0;
  animation: item-4_move 3.1s cubic-bezier(.6,.01,.4,1) infinite;
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(0, 75px)} 
  50% {transform: translate(75px, 75px)} 
  75% {transform: translate(75px, 0)} 
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-75px, 0)} 
  50% {transform: translate(-75px, 75px)} 
  75% {transform: translate(0, 75px)} 
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(0, -75px)} 
  50% {transform: translate(-75px, -75px)} 
  75% {transform: translate(-75px, 0)} 
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(75px, 0)} 
  50% {transform: translate(75px, -75px)} 
  75% {transform: translate(0, -75px)} 
}


.text-p7421{
	color: #621132 !important;
}

.bg-p7421{
	background-color: #621132 !important;
}

.text-p7420{
	color: #9D2449 !important;
}

.bg-p7420{
	background-color: #9D2449 !important;
}

.text-p627{
	color: #13322B !important;
}

.bg-p627{
	background-color: #13322B !important;
}

.text-p626{
	color: #285C4D !important;
}

.bg-p626{
	background-color: #285C4D !important;
}

.text-p504{
	color: #4E232E !important;
}

.bg-p504{
	background-color: #4E232E !important;
}

.text-p490{
	color: #56242A !important;
}

.bg-p490{
	background-color: #56242A !important;
}

.text-p465{
	color: #B38E5D !important;
}

.bg-p465{
	background-color: #B38E5D !important;
}

.text-p468{
	color: #D4C19C !important;
}

.bg-p468{
	background-color: #D4C19C !important;
}

.text-pVerdeObscuro{
	color: #0C231E !important;
}

.bg-pVerdeObscuro{
	background-color: #0C231E !important;
}

.text-pVerdeHead{
  color: #13322B !important;
}

.bg-pVerdeHead{
  background-color: #13322B !important;
}


.altura-0 {
	height: 0 !important;
}

.border-p7420 {
    border-color: #9D2449 !important;
}

.border-p465 {
    border-color: #B38E5D !important;
}

.border-p468 {
    border-color: #D4C19C !important;
}

.bg-mujer{
	background-color: rgb(252, 107, 190);
}

.bg-hombre{
	background-color: rgb(0, 194, 214);
}

.bg-ne{
	background-color: rgb(255, 205, 86);
}	

.bg-total{
	background-color: rgb(19, 50, 43);
}

.bg-subtotal{
	background-color: rgba(19, 50, 43, 0.8);
}		
	
	
.dropdown.bootstrap-select
{ 
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
}
.bootstrap-select .dropdown-menu.inner li a{
    color: black;
}
.bootstrap-select .dropdown-menu.inner li a:hover {
  background-color: #cce2ff;
  color: black;
}

.card-header.active {
    color: white !important;
    background-color: #4E232E !important;
}

.truncado {
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.tabla-sesion-peiis {
  vertical-align: middle !important;
}
.tabla-sesion-peiis th {
  max-width: 33vw;
  vertical-align: middle !important;
}

.enlace {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.enlace:hover {
  color: #0056b3;
  text-decoration: underline;
}
.enlace:focus {
  outline: none;
}

.element-fluid {
	width: 100% !important;
}

#dimmer-menu-lateral{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.iframe-pagina-externa{
	width: 100%;
	height: 80vh;
}

.bg-green{
	font-size: 85%;
    color: #fff;
    line-height: 135%;
    background-image: url(/DGIS/img/fondofooter3.svg);
    height: auto;
    background-size: contain;

}

.bg-dorado {
	font-size: 85%;
    background-color: #a57f2c;
    line-height: 135%;    
    height: auto;
    background-size: contain;

}

.bg-guinda{
	font-size: 85%;
    background-color: #611232;
    line-height: 135%;    
    height: auto;
    background-size: contain;

}

.plecabg {
      width: 100%; /* Ancho del contenedor */
      height: 60px; /* Altura del contenedor */
      background-image: url('/DGIS/img/pleca.svg'); /* Ruta de la imagen */
      background-repeat: repeat-x; /* Repetir en el eje X */
      background-size: auto; /* Tamaño original de la imagen */
    }

@media (max-width: 960px) {
  .bg-green{
    background-size: cover;
  }
}


.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0px !important;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.bootstrap-select .dropdown-menu li a span.text {
    margin-right: 0px !important;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.bs-searchbox+.bs-actionsbox button{
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

b, strong {
	font-weight: bold !important;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #B38E5D;
    color: #fff;
    cursor: pointer;
    outline: none;
}

#list_login_peiis .list-group {
	max-height: 400px;
    overflow: auto;
}

#menu_sesion {
	z-index: 1100;
	position: fixed;
    top: 0;
    width: 100%;
	pointer-events: none;
}

#menu_sesion button {
	pointer-events: all;
}

#menu_sesion button:hover {
	cursor: pointer;
}

.pointer button:hover {
	cursor: pointer;
}

img.pointer:hover {
	cursor: pointer;
}

#menu_sesion button:focus, #menu_sesion button:active {
	outline: none;
	box-shadow: none;
}

#menu_sesion .dropdown-item:hover {
	background-color: #D4C19C;
}

#menu_sesion .dropdown-item:focus, #menu_sesion .dropdown-item:active {
	background-color: #B38E5D;
	color: #fff !important;
	outline: none;
}

.border-p7420 {
	border-color: #9D2449;
}

i.big-aplicativo.icon, i.big-aplicativo.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 2.1em;
}

i.big-menu.icon, i.big-menu.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 2.9em;
}

i.menu-sinba.icon, i.menu-sinba.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 4em;
}

.carousel-indicators>li
{
	background-color: #9d2449;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-bottom: 5px;
	opacity: .5;
	
}

.carousel-indicators>li.active
{	
	background-color: #9d2449 !important;
	transition: opacity 1 .5s;
	opacity: 1;
	
}

.carousel-control-prev,
.carousel-control-next
    {
    width: 5% !important;
    }
	
	
.btn-menu-gobmx
{
	box-shadow:  0 0px 0px 0 #ffffff !important;
}

.btn-menu-gobmx:hover
{
	box-shadow:  0 5px 8px 0 #d1d1d1 !important;
	
}
	
.pointer {
	cursor: pointer;
	}
	
.scroll_menu{
  overflow: auto; 
  max-height: 40vh;
}

.dropdown-item.active, .dropdown-item:active {
	color: white !important;
    text-decoration: none;
    background-color: #6F7271;
}

.bootstrap-select .dropdown-menu.inner li a:hover {
    background-color: #9F2241;
    color: white !important;
}

.bootstrap-select .dropdown-menu.inner li:focus {
    outline: none;
}

.bootstrap-select .dropdown-menu.inner li a:focus {
    outline: none;
}

.fullscreen{
	height: 100vh !important;
	width: 100vw !important;
	
	}
	
.fullscreen-por{
	height: 100% !important;
	width: 100% !important;
	
	}
	
.overflow {
  overflow: visible;
}

.absolute {
  position: absolute;
}

.p-8 {
  
  font-size: 8px !important;
}

.p-9 {
  
  font-size: 9px !important;
}

.p-10 {
  
  font-size: 10px !important; 
}

.p-11 {
  
  font-size: 11px !important;
}

.p-12 {
  
  font-size: 12px !important;
}

.p-13 {
  
  font-size: 13px !important;
}

.p-14 {
  
  font-size: 14px !important;
}

.p-15 {
  
  font-size: 15px !important;
}

.p-16 {
  
  font-size: 16px !important;
}

.p-17 {
  
  font-size: 17px !important;
}

.p-18 {
  
  font-size: 18px !important;
}
.p-19 {
  
  font-size: 19px !important;
}
.p-20 {
  
  font-size: 20px !important;
}

.quitar-flex>.close
{
	position: absolute;
    top: 20px;
    right: 20px;
}

.quitar-flex
{
  display: block !important;
}

ul.lista-cambios
{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.lista-cambios>li>ul
{
	display: block;
    list-style-type: circle;
    padding-inline-start: 40px;
    padding-left: 40px;
}

ul.lista-cambios>li>ul>li>ul
{
	display: block;
    list-style-type: square;
    padding-inline-start: 40px;
    padding-left: 40px;
}

.ui.fullscreen.modal{
    height: unset !important;
}

th.rotate {
    transform: rotate(-90deg) translate(0px, -45px);
}

.en-linea{
	display: inline;
}

.scroll-alto-max {
	max-height: 400px;
    overflow: auto;
}

.check-20 {
	width: 20px;
    height: 20px;
}

.indice-z-atras-carga {
	z-index: 1999 !important;
}

.scroll-cubos {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}


.font-06 {
	font-size: 6px;
}
.font-07 {
	font-size: 7px;
}
.font-08 {
	font-size: 8px;
}
.font-09 {
	font-size: 9px;
}
.font-10 {
	font-size: 10px;
}

.font-11 {
	font-size: 11px;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-14 {
	font-size: 14px;
}

.font-15 {
	font-size: 15px;
}

.btn_menu_contenidos {
	width: auto;
	height: 50px; 	
}

.img-center {
	margin-top: auto;
	margin-bottom: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.color-verde {
	color: #0ead69;
}

.color-amarillo {
	color: #ffd23f;
}

.color-rojo {
	color: #ee4266;
}

.color-gris {
	color: #818182;
}

.modalb .boton-izq {
	position: absolute;
    top: 40%;
    left: -30px;
    z-index: 1;
    height: 20%;
    font-size: 200%;
}

.modalb .boton-der {
	position: absolute;
    top: 40%;
    right: -30px;
    z-index: 1;
    height: 20%;
    font-size: 200%;
}

.modalb-dialog.modalb-fullscreen {
	width: 90vw !important;
	max-width: unset;
}

.tabular.menu>.item {
  width: auto;
  height: auto;
}

.ml-m45 {
	margin-left: -45px;
}

.tooltip{
	z-index: 1110 !important;
}

.dropdown-menu{
	z-index: 1110 !important;
}

.altura-completa{
	height: 100% !important;
}

.ui.multiple.search.dropdown>input.search {
    padding: 1px;
}
