.marco{
	stroke: rgb(212,193,156);
	stroke-linejoin: round;
	stroke-width: 0.5;
	background-color: #000000;
}

/* botones principales index */
.mapa_entidad_btn {
	fill: rgb(179,142,93);
	stroke-linejoin: round;
  stroke-width: 0.5;
}
.mapa_entidad_btn:hover, .mapa_entidad_btn.hovered{
  fill: rgb(157,36,73);
  cursor: pointer;
  transition: fill 0.2s;
  -o-transition: fill 0.2s;
  -ms-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
}

.mapa_municipio_btn {
	fill: rgb(179,142,93);
	stroke-linejoin: round;
  stroke-width: 0.5;
}
.mapa_municipio_btn:hover, .mapa_municipio_btn.hovered{
  fill: rgb(157,36,73);
  cursor: pointer;
  transition: fill 0.2s;
  -o-transition: fill 0.2s;
  -ms-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
}

.contenedor-mapastematicos{
  position: relative;
  overflow: hidden;
  border-color: #9D2449;
  border-width: 2px;
  border-style: solid;
  border-radius: 1px;
  background-color: aliceblue;
  cursor: grab;
  user-select: none;
  max-height: 490px;
}

.contenedor-mapastematicos svg{
  max-height: 490px;
}

.controles-mapastematicos{
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  pointer-events: none;
  user-select: none;
}
.controles-mapastematicos .btn-group-vertical:first-child{
  margin-bottom: 10px;
  user-select: none;
}
.controles-mapastematicos button{
  pointer-events: all;
  user-select: none;
}

.inicio-mapastematicos{
  position: absolute;
  top: 40px;
  right: 10px;
  user-select: none;
}

#titulo-mapastematicos{
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  padding: 0 10px;
}

.contenedor-mapastematicos .indicaciones{
  color: black;
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  bottom: 10px;
  padding: 0 10px 0 130px;
  text-align: left;
}

.rotar-45{
  transform: rotate(45deg);
}
