@charset "UTF-8";

@font-face {
  font-family: "customfont";
  src:url("fonts/customfont.eot");
  src:url("fonts/customfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/customfont.woff") format("woff"),
    url("fonts/customfont.ttf") format("truetype"),
    url("fonts/customfont.svg#customfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "customfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "customfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-psi:before {
  content: "\61";
}
.icon-actividades-promocion:before {
  content: "\62";
}
.icon-analisis-informacion:before {
  content: "\63";
}
.icon-asma-epoc:before {
  content: "\64";
}
.icon-atencion-adicciones:before {
  content: "\65";
}
.icon-atenciones-diarias:before {
  content: "\66";
}
.icon-camas-hospitalarias:before {
  content: "\67";
}
.icon-cirugias:before {
  content: "\68";
}
.icon-consulta-externa:before {
  content: "\69";
}
.icon-consultorio:before {
  content: "\6a";
}
.icon-defunciones:before {
  content: "\6b";
}
.icon-deteccion:before {
  content: "\6c";
}
.icon-dia-tipico:before {
  content: "\6d";
}
.icon-egresos-hospitalarios:before {
  content: "\6e";
}
.icon-enfermeras:before {
  content: "\6f";
}
.icon-gasto-salud:before {
  content: "\70";
}
.icon-general:before {
  content: "\71";
}
.icon-indicadores-nacionales:before {
  content: "\72";
}
.icon-infancia-adolescencia:before {
  content: "\73";
}
.icon-informacion-general:before {
  content: "\74";
}
.icon-lesiones:before {
  content: "\75";
}
.icon-medicos:before {
  content: "\76";
}
.icon-micobacteriosis:before {
  content: "\77";
}
.icon-muerte-fetal:before {
  content: "\78";
}
.icon-muerte-materna:before {
  content: "\79";
}
.icon-nacimientos-salud-materna:before {
  content: "\7a";
}
.icon-planificacion-familiar:before {
  content: "\41";
}
.icon-poblacion:before {
  content: "\42";
}
.icon-recursos-salud:before {
  content: "\43";
}
.icon-regresar:before {
  content: "\44";
}
.icon-reportes-servicios:before {
  content: "\45";
}
.icon-salud-adulto-anciano:before {
  content: "\46";
}
.icon-salud-bucal:before {
  content: "\47";
}
.icon-servicios-otorgados:before {
  content: "\48";
}
.icon-sicuentas:before {
  content: "\49";
}
.icon-unidades-apoyo:before {
  content: "\4a";
}
.icon-urgencias:before {
  content: "\4b";
}
.icon-vectores:before {
  content: "\4c";
}
.icon-vih-its:before {
  content: "\4d";
}
.icon-zoonosis:before {
  content: "\4e";
}
.icon-cambio-usuario:before {
  content: "\4f";
}
.icon-administracion-oid:before {
  content: "\50";
}
.icon-gestion-seguridad:before {
  content: "\51";
}
.icon-informacion-nominal-cronicas:before {
  content: "\52";
}
.icon-padron-gral-salud:before {
  content: "\53";
}
.icon-padron-profesionales:before {
  content: "\54";
}
.icon-resumen-clinico:before {
  content: "\55";
}
.icon-sinerhias:before {
  content: "\56";
}
